<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprojects.vinit.idonate">

    <application
        android:name=".IDonate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllNGOsActivity"
            android:label="@string/title_activity_all_ngos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.ChooseNgoActivity"/>
        <activity android:name=".activities.DonateActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activities.PassCodeActivity"/>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.OTPActivity"/>
        <activity android:name=".activities.ProfileDetailActivity"/>
        <receiver android:name=".OTPReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>